Screen {
    layout: horizontal;
    width: auto;
    height: 80%;
}
ModalScreen{
    layout: vertical;
}


DataTable {
    margin: 1 1;
}
.h {
    height:15vh
}
Button {
    margin: 0 5;
}
Rule {
    margin: 0;
}